<div class=login-page>
<div class='row'>

<div class='col-s-1 col-md-1 col-lg-1'>

</div>
<div class='col-s-4 col-md-4 col-lg-4 log-in' >
<div class='panel panel-default'>
<h2> Have an account? Log In! </h2>
</div>
</div>

<div class='col-s-1 col-md-1 col-lg-1'>

</div>

<div class='col-s-1 col-md-1 col-lg-1'>

</div>
<div class='col-s-4 col-md-4 col-lg-4 register'>
<div class='panel panel-default'>
<h2> Need an account? Register! </h2>
</div>
</div>

<div class='col-s-1 col-md-1 col-lg-1'>

</div>

</div>
</div>